.fira-sans-regular{
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;


}

/* body  */
body {
    background-color: rgba(241, 241, 243, 1);
    max-width: 1280px;
    margin: 0 auto;


}

/* share style */

 .text-center{
    text-align: center;
 }

/* header style  */
.banner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(198, 228, 214, 1);
    height: 560px;
    margin-top: 20px;
    margin-bottom: 80px;
    border-radius: 24px;
}

.banner-content {
    margin: 117px 64px 117px 64px;
}

.banner-heading {
    color: rgba(14, 14, 14, 0.5);
    font-size: 24;
}

.banner-description {
    color: rgba(14, 14, 14, 1);
    font-size: 56px;
    text-align: left;
    font-weight: 700;


}

.banner-button {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 106, 80, 1);
    font-size: 18px;
    font-weight: 600;
    width: 270px;
    height: 56px;
    border-style: none;
    border-radius: 8px;


}

.banner-img {
    margin: 80px 60px 80px 0;

}

/*  vision-section   */

.vision-title {
    font-size: 40px;
    font-weight: 700;
}

.vision-description {
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}

.items {
    display: flex;
    justify-content: space-between;
    margin: 32px auto;
    gap: 24px;

}

.item {
    padding: 32px;


}

.item-1 {
    background-color: rgba(84, 144, 245, 0.2);
    border-radius: 8px;


}

.item-2 {
    background-color: rgba(198, 228, 214, 1);
    border-radius: 8px;
}

.item-3 {
    background-color: rgba(247, 235, 207, 1);
    border-radius: 8px;
}

.item-title {
    color: rgba(14, 14, 14, 0.8);
    font-weight: 700;
    font-size: 20px;
}

.item-description {
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);

}

.item-button {
    font-size: 16px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    border-style: none;
    width: 122px;
    height: 41px;
}

.item-button-1 {
    background-color: rgba(84, 144, 245, 1);
    border-radius: 8px;

}

.item-button-2 {
    background-color: rgba(9, 161, 92, 1);
    border-radius: 8px;
}

.item-button-3 {
    background-color: rgba(255, 194, 57, 1);
    border-radius: 8px;
}

/* recent-section style  */
.recent-title {
    color: rgba(14, 14, 14, 1);
    font-size: 40px;
    font-weight: 700;
}

.recent-description {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
}

.recent-container {
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 1);
    margin-bottom: 24px;

}
.recent-img{
    border-radius: 24px;
    margin: 48px 32px 48px 48px;
}
.recent-contant{
    margin: 56px 48px 56px 0px ;
}
.recent-content-title {
    color: rgba(14, 14, 14, 0.8);
    font-size: 32px;
    font-weight: 700;
}

.recent-contant-description {
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    display: flex;
    gap: 12px;
   
    
}

.recent-contant-description li {
 
    
}

.recent-contant-description2 {
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}
.recent-button{
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
font-weight: 600;
background-color: rgba(0, 106, 80, 1);
width: 129px;
height:48px;
border-style: none;
border-radius: 8px ;
}
/* recent section 2nd banner/ card   */
.recent-img2{
    border-radius: 24px;
    margin: 56px 48px 56px 0px ;
}
.recent-contant2{
    
    margin: 48px 32px 48px 48px;
}

/* donate section style */
.donate{
  
}

.donate-title{
    font-size: 40px;
    font-weight: 700;
}
.donate-description {
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    
   
}

.taka-container{
    display: flex;
    justify-content: space-around;

}
.taka-button{
    color: rgba(14, 14, 14, 0.8);
    font-size: 40px;
    border-radius: 16px;
    width: 252px;
    height: 128px;
    border-style: none;
    background-color:rgba(255, 255, 255, 1);
   

}
.taka-button2{
    color: rgba(14, 14, 14, 0.8);
    font-size: 40px;
    border-radius: 16px;
    width: 252px;
    height: 128px;
    border-style: none;
    background-color:rgba(198, 228, 214, 1);

}



.text-fill{
    width: 1032px;
    height: 64px;
   display: block; 
   margin: 32px auto;
   border-style:none;
   color: rgba(14, 14, 14, 0.3);
   font-size: 20px;



}
.done-now-button{
    display: block;
    color: rgba(255, 255, 255, 1);
    border-radius: 8px;
    width: 151px;
    height: 56px;
   background-color: rgba(0, 106, 80, 1);
   margin: 0px auto;
   border-style: none;


}